/* App.css - Global styles for dark theme */

/* Basic reset for body and background settings */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #0f0f11;
  color: #fff;
  line-height: 1.6;
  height: 100%;
}

.search-input {
  background-color: white;
  color: black;
  border: none;
  height: 30px; /* Adjust this value to match the height of your dropdown */
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  width: 300px;
}
.get-data-button{
  height: 42px;
  border-radius: 5px; /* Adjust this value as needed */
}

/* Style headings consistently */
h1, h2, h3, h4, h5, h6 {
  color: #ccc;
}

/* Links */
a {
  color: #5599ff;
  text-decoration: none;
}

a:hover {
  color: #bbddff;
}



/* Buttons */
button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

/* Additional styles for form elements */
select, option {
  background-color: #333;
  color: white;
}

/* Table styles for dark mode */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
}

td {
  background-color: #222;
}

/* Container and section styling */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.section {
  margin: 20px 0;
  padding: 20px;
  background-color: #282828;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.info-text {
  color: #ccc;
  font-size: 24px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  margin-bottom: 30px; /* Add more space below the heading */
  text-align: center; /* Center the text */
}

.dropdown-button-container {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start; /* Align items at the start */
  align-items: center;
  gap: 20px; /* Add space between items */
}

.plot {
  height: 70vh;/* Subtract the total margin from the width */

}

.plot-section {
  height: 70vh;
}

.plot svg {
  width: 100%;
  height: 70vh;
}

.centered-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.button-disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

/* Styles for the instructions list */
ol {
  background-color: #1f242a; /* Light gray background */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding around the text */
  width: 500px; /* Fixed width */
  margin: 20px auto; /* Center align the list */
  list-style-position: inside; /* Position numbers inside the content area */
  font-size: 16px;
}



/* Specific styling for clickable elements like buttons */
.button-like {
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
  color: #0056b3; /* Link-like text color */
  text-decoration: underline; /* Underline to suggest it's clickable */
}

/* Adding hover effect for interactive elements */
.button-like:hover {
  color: #004494; /* Darker blue on hover */
}



@media screen and (min-width: 1024px) {
  .search-section {
    width: 80%;
    margin: auto;
  }

  .plot-section {
    width: 80%;
    margin: auto;
  }

  /* Adjust other elements as needed */
  .container {
    padding: 30px;
  }

  .section {
    margin: 30px 0;
    padding: 30px;
  }

  .info-text {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .dropdown-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .plot, .plot-section, .plot svg {
    height: 65vh;
  }
}

/* Media queries for mobile devices */
@media screen and (max-width: 768px) {

  #root{
    flex-direction: column;
    height: 500px;
  }

  html {
    height: 500px;
  }

  .dropdown-button-container {
    flex-direction: column;
    padding-left: 0;/* Stack items vertically */
  }

  .plot, .plot-section {
    height: 500px; /* Adjust the height as needed */
    margin: 0; /* Remove the side margins */
  }

  .plot svg {
    height: 500px; /* Adjust the height as needed */
    width: 100%;
  }

  .container {
    padding: 10px;
    max-width: 100%; /* Allow the container to take up the full width */
  }

  .section {
    margin: 10px 0;
    padding: 10px;
  }

  .info-text {
    font-size: 22px; /* Decrease the font size */
    margin-bottom: 20px; /* Decrease the space below the heading */
    padding: 10px;
  }

  .centered-message {
    font-size: 14px; /* Decrease the font size */
    padding-top: 5px;
    transform: none; /* Reset the transform */
    position: static; /* Follow the normal document flow */
    display: flex; /* Enable flex layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }

  /* Styles for the instructions list */
  ol {
    font-size: 14px;
    width: 80%; /* Full width */
  }

}